<html>

<head>
    {% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LG7HHMKB93"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LG7HHMKB93');
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
        integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
</head>

<body>

    {% include 'cureview/header.html' %}

    <div id="background">
        <!-- <h1 id="cu-review">Culpa.io</h1> -->
    </div>

    <input spellcheck="false" id="explore" />

    <div id="pick-items" class="carousel">

    </div>

    {% for category, value in reviewable_objects_preview_max4.items %}
    <div class="cmx {{category}}">
        {% for preview in value %}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="locations-row {% if forloop.counter >= 2 %}low {% endif %}">
            {% endif %}

            <div data-url="/reviews/{{category}}/{{preview.id}}" class="location-item">
                <div style="background-image: url('{{preview.image_path}}')" class="location-image">

                </div>
                <h1 class="location-name">{{preview.name}}</h1>
                <div class="rating-info">
                    <div class="rating-row">
                        {% for i in preview.overall_on_stars %}
                        <img src="{% static 'img/star.png' %}" class="star-item" />
                        {% endfor %}
                        {% for i in preview.overall_off_stars %}
                        <img src="{% static 'img/star.png' %}" class="star-item gs" />
                        {% endfor %}
                    </div>
                    <h1 class="review-count">{{preview.total_reviews}} reviews</h1>
                </div>
            </div>

            {% if forloop.counter|divisibleby:"2" %}
        </div>
        {% endif %}

        {% endfor %}
    </div>
    {% endfor %}


    <div class="curves">
        <button id="explore-button">Explore All Reviews</button>
        <h1 id="write-review">Write A Review</h1>
    </div>
    <div class="curves-fade">
        <div class="sep-white"></div>
        <div class="top-row">
            <img class="reviewimg" src="{% static 'img/aph.png' %}" />
            <div class="sellpoint">
                <h1 class="newrate">A New Way to Rate Everything CU</h1>
                <h2 class="demotxt">From courses to bathrooms, we've got you covered.</h2>
            </div>
        </div>

        <h1 class="faq">Frequently Asked Questions</h1>
        <div class="data-panel">

        </div>
        <div class="faq-item">
            <h1 class="faq-q">• Who runs this site?</h1>
            <p class="faq-a">This website is completely <a class="mail" href="https://github.com/Culpa-io/culpa.io">open
                    source</a> and run by current Columbia students. If you want to contribute, feel free to open a pull
                request!</p>
        </div>
        <div class="faq-item">
            <h1 class="faq-q">• How do I know it won't go down?</h1>
            <p class="faq-a">Because Culpa is licensed under the MIT License, anyone can download their own copy of our
                code at any time and spin up a new version. No single person is in charge of Culpa; if you want to make
                a change, open a pull request on the GitHub and start the conversation!</p>
        </div>
        <div class="faq-item">
            <h1 class="faq-q">• Is it under active development?</h1>
            <p class="faq-a">Yes! Please join our <a class="mail" href="https://discord.gg/adWZA6Qwq6">discord
                    server</a>.</p>
        </div>
        <div class="faq-item">
            <h1 class="faq-q">• Additional questions?</h1>
            <p class="faq-a">Please create an issue on GitHub by <a class="mail"
                    href="https://github.com/Culpa-io/culpa.io/issues/new">clicking this link</a>. Issues allow all of
                the students who are currently contributing to Culpa to quickly see your message.</p>
        </div>




        <div class="footer">
        </div>

    </div>


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    /* SERVER VAR */
    const categories = {{ reviewable_categories| safe}};
    /* END SERVER VAR */
</script>
<script src="{% static 'js/index.js' %}">  </script>

</html>